{% extends 'app/base.html' %}
{% block body %}

<form action="{% url 'double' %}" method="GET" class="col-3">
    <div class="form-group">
        <label>
            Num
            <input type="number" name="num" class="form-control" placeholder="Num">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Double</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>

{% endblock body %}
