{% extends 'app/base.html' %}
{% block body %}

<form action="{% url 'how-many-points' %}" method="POST" class="col-3">
    <div class="form-group">
        <label>
            <h3>Scoring Action</h3>
            Point Kick<input type="radio" name="num" class="form-control" value='1'>
            Point Conversion<input type="radio" name="num" class="form-control" value='2'>
            Safety<input type="radio" name="num" class="form-control" value='2'>
            Field Goal<input type="radio" name="num" class="form-control" value='3'>
            Touchdown<input type="radio" name="num" class="form-control" value='6'>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Check</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>

{% endblock body %}
