{% extends 'app/base.html' %}
{% block body %}

<form action="{% url 'how-populated' %}" method="GET" class="col-3">
    <div class="form-group">
        <label>
            Population
            <input type="number" name="num1" class="form-control" placeholder="Num 1">
        </label>
    </div>
    <div class="form-group">
        <label>
            Land Area
            <input type="number" name="num2" class="form-control" placeholder="Num 2">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Land Density</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>

{% endblock body %}
